
<div style="display:flex; margin-top:200px; height:400px; justify-content:center">
    <form>
        <table>
            <tr style="margin:10px;">
                <td>
                    <label for="firstName">Имя</label>
                </td>

                <td>
                    <input id="firstName" type="text" name="FirstName" />
                </td>

            </tr>
            <tr>
                <td>
                    <label for="lastName">Фамилия</label>
                </td>

                <td>
                    <input id="lastName" type="text" name="LastName" />
                </td>
            </tr>
        </table>
    </form>
    <input type="submit" name="Send" value="Начать тестирование" />
</div>
